<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusComing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,56}</string>
                <key>spriteSourceSize</key>
                <string>{416,56}</string>
                <key>textureRect</key>
                <string>{{994,2},{416,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,51}</string>
                <key>spriteSourceSize</key>
                <string>{422,51}</string>
                <key>textureRect</key>
                <string>{{570,2},{422,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,46}</string>
                <key>spriteSourceSize</key>
                <string>{246,46}</string>
                <key>textureRect</key>
                <string>{{1221,60},{246,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,59}</string>
                <key>spriteSourceSize</key>
                <string>{407,59}</string>
                <key>textureRect</key>
                <string>{{570,55},{407,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusGame_TimeText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{1529,30},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Congratulations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,79}</string>
                <key>spriteSourceSize</key>
                <string>{566,79}</string>
                <key>textureRect</key>
                <string>{{2,2},{566,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Img_Text_BetBonusHint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,22}</string>
                <key>spriteSourceSize</key>
                <string>{222,22}</string>
                <key>textureRect</key>
                <string>{{2,83},{222,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Intro_Playing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,26}</string>
                <key>spriteSourceSize</key>
                <string>{204,40}</string>
                <key>textureRect</key>
                <string>{{1412,2},{202,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundTotal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,56}</string>
                <key>spriteSourceSize</key>
                <string>{240,56}</string>
                <key>textureRect</key>
                <string>{{979,60},{240,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,27}</string>
                <key>spriteSourceSize</key>
                <string>{115,27}</string>
                <key>textureRect</key>
                <string>{{1412,30},{115,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,32}</string>
                <key>spriteSourceSize</key>
                <string>{116,32}</string>
                <key>textureRect</key>
                <string>{{355,83},{116,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,26}</string>
                <key>spriteSourceSize</key>
                <string>{101,26}</string>
                <key>textureRect</key>
                <string>{{1469,59},{101,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,21}</string>
                <key>spriteSourceSize</key>
                <string>{74,21}</string>
                <key>textureRect</key>
                <string>{{473,83},{74,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,26}</string>
                <key>spriteSourceSize</key>
                <string>{115,26}</string>
                <key>textureRect</key>
                <string>{{1469,87},{115,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,13}</string>
                <key>spriteSourceSize</key>
                <string>{127,13}</string>
                <key>textureRect</key>
                <string>{{226,83},{127,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,14}</string>
                <key>spriteSourceSize</key>
                <string>{104,14}</string>
                <key>textureRect</key>
                <string>{{226,98},{104,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pt-BR.png</string>
            <key>size</key>
            <string>{1616,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2117272d8b369ef7e5097e332a98834a:feab01531e01a3c05959cc326015bf19:9d267f7b7ee1b1e11922812f7f466b18$</string>
            <key>textureFileName</key>
            <string>pt-BR.png</string>
        </dict>
    </dict>
</plist>
