<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusComing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,58}</string>
                <key>spriteSourceSize</key>
                <string>{268,58}</string>
                <key>textureRect</key>
                <string>{{1117,2},{268,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,98}</string>
                <key>spriteSourceSize</key>
                <string>{387,98}</string>
                <key>textureRect</key>
                <string>{{2,2},{387,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,46}</string>
                <key>spriteSourceSize</key>
                <string>{242,46}</string>
                <key>textureRect</key>
                <string>{{391,76},{242,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,69}</string>
                <key>spriteSourceSize</key>
                <string>{351,69}</string>
                <key>textureRect</key>
                <string>{{764,2},{351,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusGame_TimeText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,22}</string>
                <key>spriteSourceSize</key>
                <string>{94,22}</string>
                <key>textureRect</key>
                <string>{{737,101},{94,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Congratulations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,72}</string>
                <key>spriteSourceSize</key>
                <string>{371,72}</string>
                <key>textureRect</key>
                <string>{{391,2},{371,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Intro_Playing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{196,26}</string>
                <key>spriteSourceSize</key>
                <string>{204,40}</string>
                <key>textureRect</key>
                <string>{{764,73},{196,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundTotal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,56}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{1117,62},{263,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,22}</string>
                <key>spriteSourceSize</key>
                <string>{88,22}</string>
                <key>textureRect</key>
                <string>{{833,101},{88,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,36}</string>
                <key>textureRect</key>
                <string>{{635,76},{100,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,21}</string>
                <key>spriteSourceSize</key>
                <string>{53,21}</string>
                <key>textureRect</key>
                <string>{{123,102},{53,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,25}</string>
                <key>spriteSourceSize</key>
                <string>{60,25}</string>
                <key>textureRect</key>
                <string>{{962,97},{60,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,22}</string>
                <key>spriteSourceSize</key>
                <string>{125,22}</string>
                <key>textureRect</key>
                <string>{{962,73},{125,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,14}</string>
                <key>spriteSourceSize</key>
                <string>{71,14}</string>
                <key>textureRect</key>
                <string>{{178,102},{71,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,12}</string>
                <key>spriteSourceSize</key>
                <string>{119,12}</string>
                <key>textureRect</key>
                <string>{{2,102},{119,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ja-JP.png</string>
            <key>size</key>
            <string>{1387,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7021b3d1b12588930e675974975adda9:7a9d7ac2bb86f9f76298a32609f3fb3d:3c912dc2a2092bcda6432bb28a847999$</string>
            <key>textureFileName</key>
            <string>ja-JP.png</string>
        </dict>
    </dict>
</plist>
