<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusComing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,50}</string>
                <key>spriteSourceSize</key>
                <string>{422,50}</string>
                <key>textureRect</key>
                <string>{{646,72},{422,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,68}</string>
                <key>spriteSourceSize</key>
                <string>{429,68}</string>
                <key>textureRect</key>
                <string>{{646,2},{429,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,46}</string>
                <key>spriteSourceSize</key>
                <string>{263,46}</string>
                <key>textureRect</key>
                <string>{{1077,66},{263,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,62}</string>
                <key>spriteSourceSize</key>
                <string>{414,62}</string>
                <key>textureRect</key>
                <string>{{1077,2},{414,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusGame_TimeText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,21}</string>
                <key>spriteSourceSize</key>
                <string>{74,21}</string>
                <key>textureRect</key>
                <string>{{1561,45},{74,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Congratulations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,78}</string>
                <key>spriteSourceSize</key>
                <string>{642,78}</string>
                <key>textureRect</key>
                <string>{{2,2},{642,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Img_Text_BetBonusHint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,22}</string>
                <key>spriteSourceSize</key>
                <string>{222,22}</string>
                <key>textureRect</key>
                <string>{{2,82},{222,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Intro_Playing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,20}</string>
                <key>spriteSourceSize</key>
                <string>{204,40}</string>
                <key>textureRect</key>
                <string>{{2,106},{202,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundTotal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,56}</string>
                <key>spriteSourceSize</key>
                <string>{217,56}</string>
                <key>textureRect</key>
                <string>{{1342,66},{217,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,39}</string>
                <key>spriteSourceSize</key>
                <string>{121,39}</string>
                <key>textureRect</key>
                <string>{{365,82},{121,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,32}</string>
                <key>spriteSourceSize</key>
                <string>{137,32}</string>
                <key>textureRect</key>
                <string>{{226,82},{137,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,26}</string>
                <key>spriteSourceSize</key>
                <string>{104,26}</string>
                <key>textureRect</key>
                <string>{{1493,2},{104,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,20}</string>
                <key>spriteSourceSize</key>
                <string>{74,20}</string>
                <key>textureRect</key>
                <string>{{1584,45},{74,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shooting3font_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,17}</string>
                <key>spriteSourceSize</key>
                <string>{130,17}</string>
                <key>textureRect</key>
                <string>{{488,82},{130,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,13}</string>
                <key>spriteSourceSize</key>
                <string>{120,13}</string>
                <key>textureRect</key>
                <string>{{488,101},{120,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,13}</string>
                <key>spriteSourceSize</key>
                <string>{112,13}</string>
                <key>textureRect</key>
                <string>{{1493,30},{112,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>es-AR.png</string>
            <key>size</key>
            <string>{1607,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cd73d8ead7185a6339075d9baa547d4:327e8939b8987200742e249bcba87b96:091b031a15e7acfe895ef78f85b569f8$</string>
            <key>textureFileName</key>
            <string>es-AR.png</string>
        </dict>
    </dict>
</plist>
