<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusComing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,66}</string>
                <key>spriteSourceSize</key>
                <string>{230,66}</string>
                <key>textureRect</key>
                <string>{{591,112},{230,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,103}</string>
                <key>spriteSourceSize</key>
                <string>{410,103}</string>
                <key>textureRect</key>
                <string>{{2,2},{410,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,47}</string>
                <key>spriteSourceSize</key>
                <string>{208,47}</string>
                <key>textureRect</key>
                <string>{{670,49},{208,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,61}</string>
                <key>spriteSourceSize</key>
                <string>{254,61}</string>
                <key>textureRect</key>
                <string>{{414,49},{254,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusGame_TimeText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,24}</string>
                <key>spriteSourceSize</key>
                <string>{86,24}</string>
                <key>textureRect</key>
                <string>{{785,2},{84,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Congratulations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{350,90}</string>
                <key>spriteSourceSize</key>
                <string>{362,90}</string>
                <key>textureRect</key>
                <string>{{2,107},{350,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Intro_Playing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,26}</string>
                <key>spriteSourceSize</key>
                <string>{178,26}</string>
                <key>textureRect</key>
                <string>{{2,199},{178,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundTotal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,68}</string>
                <key>spriteSourceSize</key>
                <string>{235,68}</string>
                <key>textureRect</key>
                <string>{{354,112},{235,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wheel_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,44}</string>
                <key>spriteSourceSize</key>
                <string>{248,46}</string>
                <key>textureRect</key>
                <string>{{591,180},{246,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,45}</string>
                <key>spriteSourceSize</key>
                <string>{371,47}</string>
                <key>textureRect</key>
                <string>{{414,2},{369,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{823,98},{74,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shooting3font_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,41}</string>
                <key>spriteSourceSize</key>
                <string>{98,41}</string>
                <key>textureRect</key>
                <string>{{465,182},{98,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,24}</string>
                <key>spriteSourceSize</key>
                <string>{59,24}</string>
                <key>textureRect</key>
                <string>{{849,164},{59,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shooting3font_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{64,24}</string>
                <key>spriteSourceSize</key>
                <string>{66,24}</string>
                <key>textureRect</key>
                <string>{{849,98},{64,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shooting3font_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,24}</string>
                <key>spriteSourceSize</key>
                <string>{124,24}</string>
                <key>textureRect</key>
                <string>{{182,199},{124,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,15}</string>
                <key>spriteSourceSize</key>
                <string>{109,15}</string>
                <key>textureRect</key>
                <string>{{354,182},{109,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,16}</string>
                <key>spriteSourceSize</key>
                <string>{108,16}</string>
                <key>textureRect</key>
                <string>{{308,199},{108,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zh-TW.png</string>
            <key>size</key>
            <string>{880,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e14237db66fed5211189cbfd9f535e84:3b0a4d2d3bf940dcfe543b5fa8365ebd:bd2caf7b3b8d10c1b615e31d4e0a1b89$</string>
            <key>textureFileName</key>
            <string>zh-TW.png</string>
        </dict>
    </dict>
</plist>
