<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusComing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,45}</string>
                <key>spriteSourceSize</key>
                <string>{358,45}</string>
                <key>textureRect</key>
                <string>{{941,62},{358,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,94}</string>
                <key>spriteSourceSize</key>
                <string>{422,94}</string>
                <key>textureRect</key>
                <string>{{21,2},{422,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,46}</string>
                <key>spriteSourceSize</key>
                <string>{246,46}</string>
                <key>textureRect</key>
                <string>{{693,71},{246,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,67}</string>
                <key>spriteSourceSize</key>
                <string>{441,67}</string>
                <key>textureRect</key>
                <string>{{476,2},{441,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusGame_TimeText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,20}</string>
                <key>spriteSourceSize</key>
                <string>{91,20}</string>
                <key>textureRect</key>
                <string>{{371,98},{91,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Congratulations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,58}</string>
                <key>spriteSourceSize</key>
                <string>{458,58}</string>
                <key>textureRect</key>
                <string>{{919,2},{458,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Intro_Playing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,24}</string>
                <key>spriteSourceSize</key>
                <string>{204,40}</string>
                <key>textureRect</key>
                <string>{{81,98},{204,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundTotal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,53}</string>
                <key>spriteSourceSize</key>
                <string>{149,53}</string>
                <key>textureRect</key>
                <string>{{542,71},{149,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>connon_bat_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,24}</string>
                <key>spriteSourceSize</key>
                <string>{82,24}</string>
                <key>textureRect</key>
                <string>{{287,98},{82,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,17}</string>
                <key>spriteSourceSize</key>
                <string>{106,17}</string>
                <key>textureRect</key>
                <string>{{2,2},{106,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shooting3font_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,29}</string>
                <key>spriteSourceSize</key>
                <string>{94,29}</string>
                <key>textureRect</key>
                <string>{{445,2},{94,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shooting3font_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,20}</string>
                <key>spriteSourceSize</key>
                <string>{48,20}</string>
                <key>textureRect</key>
                <string>{{476,71},{48,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,20}</string>
                <key>spriteSourceSize</key>
                <string>{76,20}</string>
                <key>textureRect</key>
                <string>{{464,98},{76,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,15}</string>
                <key>spriteSourceSize</key>
                <string>{77,15}</string>
                <key>textureRect</key>
                <string>{{2,110},{77,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,16}</string>
                <key>spriteSourceSize</key>
                <string>{138,16}</string>
                <key>textureRect</key>
                <string>{{941,109},{138,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,12}</string>
                <key>spriteSourceSize</key>
                <string>{157,12}</string>
                <key>textureRect</key>
                <string>{{1081,109},{157,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>id-ID.png</string>
            <key>size</key>
            <string>{1379,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0373b9f47e6cea35325d999c1b85d056:2e4992afa81f59705225b0886e98a40c:df6035414ae3f4fb248986556b1ebcd8$</string>
            <key>textureFileName</key>
            <string>id-ID.png</string>
        </dict>
    </dict>
</plist>
