<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusComing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,63}</string>
                <key>spriteSourceSize</key>
                <string>{387,63}</string>
                <key>textureRect</key>
                <string>{{947,87},{387,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,93}</string>
                <key>spriteSourceSize</key>
                <string>{444,93}</string>
                <key>textureRect</key>
                <string>{{501,93},{444,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,48}</string>
                <key>spriteSourceSize</key>
                <string>{295,48}</string>
                <key>textureRect</key>
                <string>{{2,184},{295,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,83}</string>
                <key>spriteSourceSize</key>
                <string>{431,83}</string>
                <key>textureRect</key>
                <string>{{925,2},{431,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusGame_TimeText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,22}</string>
                <key>spriteSourceSize</key>
                <string>{100,22}</string>
                <key>textureRect</key>
                <string>{{801,188},{100,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Congratulations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,89}</string>
                <key>spriteSourceSize</key>
                <string>{497,89}</string>
                <key>textureRect</key>
                <string>{{2,93},{497,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Intro_Playing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,26}</string>
                <key>spriteSourceSize</key>
                <string>{204,40}</string>
                <key>textureRect</key>
                <string>{{299,203},{204,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundTotal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,53}</string>
                <key>spriteSourceSize</key>
                <string>{298,53}</string>
                <key>textureRect</key>
                <string>{{947,152},{298,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bossFont_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{921,89}</string>
                <key>spriteSourceSize</key>
                <string>{921,89}</string>
                <key>textureRect</key>
                <string>{{2,2},{921,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,25}</string>
                <key>spriteSourceSize</key>
                <string>{83,25}</string>
                <key>textureRect</key>
                <string>{{634,207},{83,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,43}</string>
                <key>spriteSourceSize</key>
                <string>{89,43}</string>
                <key>textureRect</key>
                <string>{{1247,152},{89,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,25}</string>
                <key>spriteSourceSize</key>
                <string>{80,25}</string>
                <key>textureRect</key>
                <string>{{719,207},{80,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{903,188},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,25}</string>
                <key>spriteSourceSize</key>
                <string>{127,25}</string>
                <key>textureRect</key>
                <string>{{505,207},{127,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,17}</string>
                <key>spriteSourceSize</key>
                <string>{114,17}</string>
                <key>textureRect</key>
                <string>{{505,188},{114,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,17}</string>
                <key>spriteSourceSize</key>
                <string>{142,17}</string>
                <key>textureRect</key>
                <string>{{299,184},{142,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>my-MM.png</string>
            <key>size</key>
            <string>{1358,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7959a814768751b0a020ba8b29514fb1:047d01334d4145965c4884baf8a953ca:7a6dab63ea34b86f303aa81071faec4a$</string>
            <key>textureFileName</key>
            <string>my-MM.png</string>
        </dict>
    </dict>
</plist>
