<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusComing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,67}</string>
                <key>spriteSourceSize</key>
                <string>{224,67}</string>
                <key>textureRect</key>
                <string>{{1107,112},{224,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,100}</string>
                <key>spriteSourceSize</key>
                <string>{405,100}</string>
                <key>textureRect</key>
                <string>{{516,2},{405,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,46}</string>
                <key>spriteSourceSize</key>
                <string>{208,46}</string>
                <key>textureRect</key>
                <string>{{870,182},{208,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,61}</string>
                <key>spriteSourceSize</key>
                <string>{254,61}</string>
                <key>textureRect</key>
                <string>{{923,49},{254,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusGame_TimeText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,24}</string>
                <key>spriteSourceSize</key>
                <string>{86,24}</string>
                <key>textureRect</key>
                <string>{{1277,54},{84,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Congratulations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,90}</string>
                <key>spriteSourceSize</key>
                <string>{362,90}</string>
                <key>textureRect</key>
                <string>{{516,104},{352,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceDragonTitle_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,226}</string>
                <key>spriteSourceSize</key>
                <string>{512,226}</string>
                <key>textureRect</key>
                <string>{{2,2},{512,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Intro_Playing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,26}</string>
                <key>spriteSourceSize</key>
                <string>{178,26}</string>
                <key>textureRect</key>
                <string>{{516,196},{178,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundTotal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,68}</string>
                <key>spriteSourceSize</key>
                <string>{235,68}</string>
                <key>textureRect</key>
                <string>{{870,112},{235,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wheel_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,44}</string>
                <key>spriteSourceSize</key>
                <string>{248,46}</string>
                <key>textureRect</key>
                <string>{{1107,181},{246,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,45}</string>
                <key>spriteSourceSize</key>
                <string>{371,47}</string>
                <key>textureRect</key>
                <string>{{923,2},{369,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,24}</string>
                <key>spriteSourceSize</key>
                <string>{75,24}</string>
                <key>textureRect</key>
                <string>{{1294,2},{75,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,41}</string>
                <key>spriteSourceSize</key>
                <string>{96,41}</string>
                <key>textureRect</key>
                <string>{{1179,49},{96,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,24}</string>
                <key>spriteSourceSize</key>
                <string>{59,24}</string>
                <key>textureRect</key>
                <string>{{1289,80},{59,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,24}</string>
                <key>spriteSourceSize</key>
                <string>{66,24}</string>
                <key>textureRect</key>
                <string>{{1294,28},{64,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,25}</string>
                <key>spriteSourceSize</key>
                <string>{125,25}</string>
                <key>textureRect</key>
                <string>{{696,196},{125,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,15}</string>
                <key>spriteSourceSize</key>
                <string>{109,15}</string>
                <key>textureRect</key>
                <string>{{1355,80},{109,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shooting3font_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,16}</string>
                <key>spriteSourceSize</key>
                <string>{108,16}</string>
                <key>textureRect</key>
                <string>{{1179,92},{108,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zh-CN.png</string>
            <key>size</key>
            <string>{1372,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:512f30c103c85a8b0f463c86bde37002:eb4ef9180ab4c57155bb1ae18c004f86:4a747dd254c56e77e2465a0144c66f48$</string>
            <key>textureFileName</key>
            <string>zh-CN.png</string>
        </dict>
    </dict>
</plist>
