<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusComing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,53}</string>
                <key>spriteSourceSize</key>
                <string>{341,53}</string>
                <key>textureRect</key>
                <string>{{665,191},{341,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,80}</string>
                <key>spriteSourceSize</key>
                <string>{524,80}</string>
                <key>textureRect</key>
                <string>{{651,2},{524,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,46}</string>
                <key>spriteSourceSize</key>
                <string>{229,46}</string>
                <key>textureRect</key>
                <string>{{434,207},{229,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,73}</string>
                <key>spriteSourceSize</key>
                <string>{430,73}</string>
                <key>textureRect</key>
                <string>{{2,177},{430,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusGame_TimeText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,21}</string>
                <key>spriteSourceSize</key>
                <string>{74,21}</string>
                <key>textureRect</key>
                <string>{{1008,227},{74,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Congratulations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,58}</string>
                <key>spriteSourceSize</key>
                <string>{419,58}</string>
                <key>textureRect</key>
                <string>{{651,84},{419,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceDragonTitle_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{647,173}</string>
                <key>spriteSourceSize</key>
                <string>{647,173}</string>
                <key>textureRect</key>
                <string>{{2,2},{647,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Img_Text_BetBonusHint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,22}</string>
                <key>spriteSourceSize</key>
                <string>{222,22}</string>
                <key>textureRect</key>
                <string>{{1008,203},{222,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Intro_Playing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{204,28}</string>
                <key>spriteSourceSize</key>
                <string>{204,40}</string>
                <key>textureRect</key>
                <string>{{434,177},{204,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundTotal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,53}</string>
                <key>spriteSourceSize</key>
                <string>{171,53}</string>
                <key>textureRect</key>
                <string>{{1185,2},{171,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gem_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,45}</string>
                <key>spriteSourceSize</key>
                <string>{371,47}</string>
                <key>textureRect</key>
                <string>{{651,144},{369,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,24}</string>
                <key>spriteSourceSize</key>
                <string>{111,24}</string>
                <key>textureRect</key>
                <string>{{1072,117},{111,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,31}</string>
                <key>spriteSourceSize</key>
                <string>{105,31}</string>
                <key>textureRect</key>
                <string>{{1072,84},{105,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,19}</string>
                <key>spriteSourceSize</key>
                <string>{47,19}</string>
                <key>textureRect</key>
                <string>{{1022,144},{47,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,20}</string>
                <key>textureRect</key>
                <string>{{1084,227},{62,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,22}</string>
                <key>spriteSourceSize</key>
                <string>{102,22}</string>
                <key>textureRect</key>
                <string>{{1072,143},{102,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,16}</string>
                <key>spriteSourceSize</key>
                <string>{146,16}</string>
                <key>textureRect</key>
                <string>{{1022,167},{146,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,16}</string>
                <key>spriteSourceSize</key>
                <string>{123,16}</string>
                <key>textureRect</key>
                <string>{{1022,185},{123,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>en-US.png</string>
            <key>size</key>
            <string>{1240,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df107867437072ca2301f853fedba8d6:053124e283265611d8945d7e0458ec68:ccf3ae752f6e9f7fb0a2b3ca32d85e4c$</string>
            <key>textureFileName</key>
            <string>en-US.png</string>
        </dict>
    </dict>
</plist>
