<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusComing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,54}</string>
                <key>spriteSourceSize</key>
                <string>{375,54}</string>
                <key>textureRect</key>
                <string>{{2,247},{375,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,87}</string>
                <key>spriteSourceSize</key>
                <string>{478,87}</string>
                <key>textureRect</key>
                <string>{{2,2},{478,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,49}</string>
                <key>spriteSourceSize</key>
                <string>{191,49}</string>
                <key>textureRect</key>
                <string>{{2,303},{191,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,75}</string>
                <key>spriteSourceSize</key>
                <string>{391,75}</string>
                <key>textureRect</key>
                <string>{{2,170},{391,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusGame_TimeText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,25}</string>
                <key>spriteSourceSize</key>
                <string>{56,25}</string>
                <key>textureRect</key>
                <string>{{360,303},{56,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Congratulations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,77}</string>
                <key>spriteSourceSize</key>
                <string>{506,77}</string>
                <key>textureRect</key>
                <string>{{2,91},{506,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Intro_Playing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{202,28}</string>
                <key>spriteSourceSize</key>
                <string>{204,40}</string>
                <key>textureRect</key>
                <string>{{472,170},{202,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RoundTotal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,75}</string>
                <key>spriteSourceSize</key>
                <string>{169,75}</string>
                <key>textureRect</key>
                <string>{{395,170},{169,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shooting3font_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,24}</string>
                <key>spriteSourceSize</key>
                <string>{81,24}</string>
                <key>textureRect</key>
                <string>{{482,2},{81,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shooting3font_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,29}</string>
                <key>spriteSourceSize</key>
                <string>{163,29}</string>
                <key>textureRect</key>
                <string>{{195,303},{163,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,23}</string>
                <key>spriteSourceSize</key>
                <string>{39,23}</string>
                <key>textureRect</key>
                <string>{{387,341},{39,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{428,341},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,24}</string>
                <key>spriteSourceSize</key>
                <string>{143,24}</string>
                <key>textureRect</key>
                <string>{{195,334},{143,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,16}</string>
                <key>spriteSourceSize</key>
                <string>{122,16}</string>
                <key>textureRect</key>
                <string>{{2,354},{122,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,16}</string>
                <key>spriteSourceSize</key>
                <string>{107,16}</string>
                <key>textureRect</key>
                <string>{{126,360},{107,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bn-IN.png</string>
            <key>size</key>
            <string>{510,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:439bc63ba3841340243d45dcaa00a989:7c20d17e7a2828e9cdd2c56c643c2c8d:3d44ff26dba36317ef873a228db1f795$</string>
            <key>textureFileName</key>
            <string>bn-IN.png</string>
        </dict>
    </dict>
</plist>
