<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusComing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,53}</string>
                <key>spriteSourceSize</key>
                <string>{341,53}</string>
                <key>textureRect</key>
                <string>{{960,62},{341,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,80}</string>
                <key>spriteSourceSize</key>
                <string>{524,80}</string>
                <key>textureRect</key>
                <string>{{2,2},{524,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,46}</string>
                <key>spriteSourceSize</key>
                <string>{229,46}</string>
                <key>textureRect</key>
                <string>{{571,77},{229,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,73}</string>
                <key>spriteSourceSize</key>
                <string>{430,73}</string>
                <key>textureRect</key>
                <string>{{528,2},{430,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusGame_TimeText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,21}</string>
                <key>spriteSourceSize</key>
                <string>{74,21}</string>
                <key>textureRect</key>
                <string>{{275,104},{74,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Congratulations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,58}</string>
                <key>spriteSourceSize</key>
                <string>{419,58}</string>
                <key>textureRect</key>
                <string>{{960,2},{419,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Img_Text_BetBonusHint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,22}</string>
                <key>spriteSourceSize</key>
                <string>{222,22}</string>
                <key>textureRect</key>
                <string>{{2,84},{222,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Intro_Playing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,18}</string>
                <key>spriteSourceSize</key>
                <string>{204,40}</string>
                <key>textureRect</key>
                <string>{{226,84},{202,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundTotal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,53}</string>
                <key>spriteSourceSize</key>
                <string>{171,53}</string>
                <key>textureRect</key>
                <string>{{1303,62},{171,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,24}</string>
                <key>spriteSourceSize</key>
                <string>{111,24}</string>
                <key>textureRect</key>
                <string>{{802,77},{111,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,31}</string>
                <key>spriteSourceSize</key>
                <string>{105,31}</string>
                <key>textureRect</key>
                <string>{{464,84},{105,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,19}</string>
                <key>spriteSourceSize</key>
                <string>{47,19}</string>
                <key>textureRect</key>
                <string>{{415,104},{47,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,20}</string>
                <key>textureRect</key>
                <string>{{351,104},{62,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,22}</string>
                <key>spriteSourceSize</key>
                <string>{102,22}</string>
                <key>textureRect</key>
                <string>{{802,103},{102,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,16}</string>
                <key>spriteSourceSize</key>
                <string>{146,16}</string>
                <key>textureRect</key>
                <string>{{2,108},{146,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,16}</string>
                <key>spriteSourceSize</key>
                <string>{123,16}</string>
                <key>textureRect</key>
                <string>{{150,108},{123,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ms-MY.png</string>
            <key>size</key>
            <string>{1476,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e8396c435a5838c0ac470fc2246e540:39b59cb6d9d6c05f54b54555ae1b9549:285dc1fff3b89d234499a0163b13a909$</string>
            <key>textureFileName</key>
            <string>ms-MY.png</string>
        </dict>
    </dict>
</plist>
