<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusComing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,53}</string>
                <key>spriteSourceSize</key>
                <string>{341,53}</string>
                <key>textureRect</key>
                <string>{{960,62},{341,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,80}</string>
                <key>spriteSourceSize</key>
                <string>{524,80}</string>
                <key>textureRect</key>
                <string>{{2,2},{524,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,46}</string>
                <key>spriteSourceSize</key>
                <string>{229,46}</string>
                <key>textureRect</key>
                <string>{{528,77},{229,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,73}</string>
                <key>spriteSourceSize</key>
                <string>{430,73}</string>
                <key>textureRect</key>
                <string>{{528,2},{430,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusGame_TimeText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,21}</string>
                <key>spriteSourceSize</key>
                <string>{74,21}</string>
                <key>textureRect</key>
                <string>{{432,84},{74,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Congratulations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,58}</string>
                <key>spriteSourceSize</key>
                <string>{419,58}</string>
                <key>textureRect</key>
                <string>{{960,2},{419,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Img_Text_BetBonusHint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,22}</string>
                <key>spriteSourceSize</key>
                <string>{222,22}</string>
                <key>textureRect</key>
                <string>{{2,84},{222,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Intro_Playing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{204,28}</string>
                <key>spriteSourceSize</key>
                <string>{204,40}</string>
                <key>textureRect</key>
                <string>{{226,84},{204,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundTotal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,53}</string>
                <key>spriteSourceSize</key>
                <string>{171,53}</string>
                <key>textureRect</key>
                <string>{{1303,62},{171,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,24}</string>
                <key>spriteSourceSize</key>
                <string>{111,24}</string>
                <key>textureRect</key>
                <string>{{759,95},{111,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,31}</string>
                <key>spriteSourceSize</key>
                <string>{105,31}</string>
                <key>textureRect</key>
                <string>{{1381,20},{105,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,19}</string>
                <key>spriteSourceSize</key>
                <string>{47,19}</string>
                <key>textureRect</key>
                <string>{{907,77},{47,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,20}</string>
                <key>textureRect</key>
                <string>{{1476,53},{62,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shooting3font_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,22}</string>
                <key>spriteSourceSize</key>
                <string>{102,22}</string>
                <key>textureRect</key>
                <string>{{1498,20},{102,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shooting3font_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,16}</string>
                <key>spriteSourceSize</key>
                <string>{146,16}</string>
                <key>textureRect</key>
                <string>{{759,77},{146,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,16}</string>
                <key>spriteSourceSize</key>
                <string>{123,16}</string>
                <key>textureRect</key>
                <string>{{1381,2},{123,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ta-IN.png</string>
            <key>size</key>
            <string>{1522,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6941a88a1a942a21e2aa15e8340d6569:f95669a11ae6053299f7839b115fe87f:920f70145b4a32581d43bd057dbcbf6a$</string>
            <key>textureFileName</key>
            <string>ta-IN.png</string>
        </dict>
    </dict>
</plist>
