<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusComing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,53}</string>
                <key>spriteSourceSize</key>
                <string>{365,53}</string>
                <key>textureRect</key>
                <string>{{1006,66},{365,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,84}</string>
                <key>spriteSourceSize</key>
                <string>{582,84}</string>
                <key>textureRect</key>
                <string>{{2,2},{582,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,53}</string>
                <key>spriteSourceSize</key>
                <string>{281,53}</string>
                <key>textureRect</key>
                <string>{{1373,66},{281,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,76}</string>
                <key>spriteSourceSize</key>
                <string>{418,76}</string>
                <key>textureRect</key>
                <string>{{586,2},{418,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusGame_TimeText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,23}</string>
                <key>spriteSourceSize</key>
                <string>{66,23}</string>
                <key>textureRect</key>
                <string>{{845,80},{66,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Congratulations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,62}</string>
                <key>spriteSourceSize</key>
                <string>{496,62}</string>
                <key>textureRect</key>
                <string>{{1006,2},{496,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Intro_Playing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{204,28}</string>
                <key>spriteSourceSize</key>
                <string>{204,40}</string>
                <key>textureRect</key>
                <string>{{2,88},{204,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundTotal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,62}</string>
                <key>spriteSourceSize</key>
                <string>{165,62}</string>
                <key>textureRect</key>
                <string>{{1504,2},{165,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,23}</string>
                <key>spriteSourceSize</key>
                <string>{86,23}</string>
                <key>textureRect</key>
                <string>{{644,80},{86,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,30}</string>
                <key>spriteSourceSize</key>
                <string>{104,30}</string>
                <key>textureRect</key>
                <string>{{208,88},{104,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{913,80},{57,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,25}</string>
                <key>spriteSourceSize</key>
                <string>{84,25}</string>
                <key>textureRect</key>
                <string>{{441,88},{84,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,20}</string>
                <key>spriteSourceSize</key>
                <string>{125,20}</string>
                <key>textureRect</key>
                <string>{{314,88},{125,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,17}</string>
                <key>spriteSourceSize</key>
                <string>{111,17}</string>
                <key>textureRect</key>
                <string>{{732,80},{111,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,17}</string>
                <key>spriteSourceSize</key>
                <string>{115,17}</string>
                <key>textureRect</key>
                <string>{{527,88},{115,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vi-VN.png</string>
            <key>size</key>
            <string>{1671,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ce9e28c3d180a50728ad02df3521040:10fe1132d9913635d266d32da8c4856e:80da116ea559466b0938b24798da498e$</string>
            <key>textureFileName</key>
            <string>vi-VN.png</string>
        </dict>
    </dict>
</plist>
