<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusComing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,52}</string>
                <key>spriteSourceSize</key>
                <string>{288,52}</string>
                <key>textureRect</key>
                <string>{{1235,2},{288,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,87}</string>
                <key>spriteSourceSize</key>
                <string>{430,87}</string>
                <key>textureRect</key>
                <string>{{2,2},{430,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,47}</string>
                <key>spriteSourceSize</key>
                <string>{151,47}</string>
                <key>textureRect</key>
                <string>{{1515,70},{151,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusComing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,76}</string>
                <key>spriteSourceSize</key>
                <string>{420,76}</string>
                <key>textureRect</key>
                <string>{{434,2},{420,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BonusGame_TimeText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,24}</string>
                <key>spriteSourceSize</key>
                <string>{92,24}</string>
                <key>textureRect</key>
                <string>{{602,94},{92,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Congratulations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,79}</string>
                <key>spriteSourceSize</key>
                <string>{377,79}</string>
                <key>textureRect</key>
                <string>{{856,2},{377,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Intro_Playing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,34}</string>
                <key>spriteSourceSize</key>
                <string>{204,40}</string>
                <key>textureRect</key>
                <string>{{434,80},{166,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundTotal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,66}</string>
                <key>spriteSourceSize</key>
                <string>{278,66}</string>
                <key>textureRect</key>
                <string>{{1235,56},{278,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,19}</string>
                <key>spriteSourceSize</key>
                <string>{93,19}</string>
                <key>textureRect</key>
                <string>{{722,80},{93,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,38}</string>
                <key>spriteSourceSize</key>
                <string>{61,38}</string>
                <key>textureRect</key>
                <string>{{1525,2},{61,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,23}</string>
                <key>spriteSourceSize</key>
                <string>{68,23}</string>
                <key>textureRect</key>
                <string>{{1588,2},{68,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,23}</string>
                <key>spriteSourceSize</key>
                <string>{32,23}</string>
                <key>textureRect</key>
                <string>{{817,80},{32,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shooting3font_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,26}</string>
                <key>spriteSourceSize</key>
                <string>{128,26}</string>
                <key>textureRect</key>
                <string>{{1525,42},{128,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,12}</string>
                <key>spriteSourceSize</key>
                <string>{91,12}</string>
                <key>textureRect</key>
                <string>{{696,101},{91,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting3font_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,12}</string>
                <key>spriteSourceSize</key>
                <string>{118,12}</string>
                <key>textureRect</key>
                <string>{{602,80},{118,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>th-TH.png</string>
            <key>size</key>
            <string>{1668,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38e99e3cfdcf06dcd3474b693a85d34d:8c529edc703d1f380e09e4b82116efde:88d2f2b2cfa4826779c171db11c50ba2$</string>
            <key>textureFileName</key>
            <string>th-TH.png</string>
        </dict>
    </dict>
</plist>
